@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-gold: #CBB26A;
    --font-main: 'Texturina', serif;
}

@layer base {
    body {
        @apply bg-black;
        font-family: var(--font-main);
    }
}