  <div class="text-gold text-center p-2 border-t-2 border-gold h-[15vh] text-xl">
    <p>Created by <%= link_to "Ilya Obretetskiy", "https://ilyaobretetskiy.com/", target: "_blank", class: "hover:underline" %></p>
    <p>Powered by <%= link_to "GetSongBPM", "https://getsongbpm.com/", target: "_blank", class: "hover:underline" %></p>
  </div>
